header, section, footer {
  outline: 1px blue solid;
  background: lightblue;
}

aside {
  outline: 1px red solid;
  background: lightpink;
}

nav {
  outline: 1px green solid;
  background: lightgreen;
}

p {
  outline: 1px gray solid;
  background:lightgray;
}

span {
  outline: 1px salmon solid;
  background: lightsalmon;
}
