@font-face {
  font-family: 'LinguisticsPro-Italic';
  src: url('/fonts/LinguisticsPro-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

body > header {
  margin-bottom: 24px;
}

body > header .container, body > footer .container {
  color: white;
  background-color: #333;
}

body > header .container {
  padding-top: 4px;
  padding-bottom: 4px;
}

body > header .container a, body > header .container a:hover, body > header .container a:focus, body > footer .container a, body > footer .container a:hover, body > footer .container a:focus {
  color: white;
}

nav > h2 {
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav#nav-languages {
  font-size: 14px;
  float: right;
}

nav#nav-languages li {
  float: left;
}

nav#nav-languages li:not(:last-of-type) {
  margin-right: 20px;
}

nav#nav-languages a > abbr {
  border-bottom: none;
  cursor: inherit;
}

body > footer {
  font-size: 10px;
  text-align: center;
}

body > footer .container {
  padding-top: 12px;
  padding-bottom: 12px;
}

body > footer ul {
  width: 100%;
  display: inline-block;
}

body > footer ul li {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

body > footer img {
  width: 30px;
}

body > footer p#p-copyright {
  margin: 0px;
  margin-top: 16px;
}

@media all and (min-width:991px) {
  body > footer p#p-copyright {
    float: right;
    margin-top: -14px;
    width: fit-content;
  }
}

main > section {
  margin-top: 144px;
  margin-bottom: 144px;
}

main nav {
  float: left;
  display: block;
  margin-top: 16px;
}

main nav li {
  margin-bottom: 16px;
}

main nav a {
  display: inline-block;
  font-size: 19px;
  position: relative;
  padding-bottom: 11px;
  text-transform: lowercase;
}

main nav a:after {
  content: "";
  position: absolute;
  width: 20px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #333;
}

main nav a:hover, main nav a:focus {
  text-decoration: none;
}

main nav a:hover:after, main nav a:focus:after {
  content: "";
  position: absolute;
  width: 20px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid white;
}

main p {
  font-family: 'LinguisticsPro-Italic';
  max-width: 600px;
}

main a:link, main a:visited, main a:hover, main a:active, main a:focus {
  color: #333;
}

main h2 {
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
  padding-bottom: 11px;
  margin-bottom: 27px;
}

main h2:after {
  content: "";
  position: absolute;
  width: 20px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #333;
}

main h3 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 19px;
  margin-top: 48px;
  margin-bottom: 27px;
}

main h4 {
  margin-top: 27px;
  text-transform: uppercase;
  font-size: 19px;
}

main dl {
  display: block;
}

main dl::before, main dl div::before {
  content: " ";
  display: table;
}

main dl::after, main dl div::after {
  content: " ";
  clear: both;
  display: table;
}

main dt {
  float: left;
  width: 80px;
}

main dd {
  float: left;
  font-family: 'LinguisticsPro-Italic';
}

main dt, dd {
  margin-bottom: 16px;
}

main a.top-of-page {
  display: block;
  font-size: 12px;
  margin-top: 16px;
}

main a.top-of-page::before {
  content: "[ ";
  display: inline;
}

main a.top-of-page::after {
  content: " ]";
  display: inline;
}

img {
  max-width: 100%;
}

abbr.lang-code {
  text-transform: uppercase;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}
