main nav {
  padding-top: 16px;
}

@media all and (min-width:768px) {
  main nav {
    padding-bottom: 108px;
  }
}

main nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

main nav li {
  display: block;
  margin-bottom: 16px;
}

@media all and (min-width:768px) {
  main nav li {
    display: inline-block;
    width: 170px;
  }
}

main nav a {
  font-size: 19px;
  display: inline-block;
  position: relative;
  padding-bottom: 11px;
}

main nav a:after {
  content: "";
  position: absolute;
  width: 20px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #333;
}

main nav a:hover, main nav a:focus {
  text-decoration: none;
}

main nav a:hover:after, main nav a:focus:after {
  content: "";
  position: absolute;
  width: 20px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid white;
}

.sticker {
  width: 192px;
  height: 192px;
  border-radius: 50%;
}

#intro {
  margin-top: 24px;
}

#intro > h2 {
  display: none;
}

#intro section:first-of-type {
  margin-top: 164px;
}

@media all and (min-width:481px) {
  #intro section:first-of-type {
    margin-top: 350px;
  }
}

@media all and (min-width:768px) {
  #intro section {
    display: inline-block;
    width: 33%;
  }
  #intro section:first-of-type {
    margin-top: 40px;
  }
}

#intro section h2 {
  margin-bottom: 10px;
}

#intro section span {
  display: block;
}

#intro aside h3 {
  display: none;
}

#intro-to-go p {
  float: right;
  position: relative;
  top: -202px;
  right: 1px;
  transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  background: #333;
  color: white;
  font-family: 'LinguisticsProRegular', serif;
  font-size: 22px;
  text-transform: lowercase;
}

#intro-to-go p > span {
  display: block;
  position: relative;
  left: 38px;
  top: 13px;
  width: fit-content;
}

#intro-and {
  font-size: 63px;
  position: relative;
  left: -6px;
  top: 30px;
}

#intro-to-go #intro-layout {
  top: -9px;
}

#intro-to-go #intro-to-go {
  top: -17px;
}

#intro-to-go-go {
  font-weight: bolder;
}

#intro-logo {
  position: absolute;
  font-family: 'LinguisticsProRegular', serif;
  text-transform: lowercase;
  font-size: 76px;
  height: 110px;
}

@media all and (min-width:481px) {
  #intro-logo {
    font-size: 128px;
    height: 182.5px;
  }
}

@media all and (min-width:768px) {
  #intro-logo {
    position: relative;
    margin-bottom: 108px;
  }
}

#intro-logo > span {
  position: absolute;
}

#intro-vanpak-n {
  letter-spacing: -4px;
}

#intro-vanpak-p {
  letter-spacing: -5.25px;
}

#design {
  font-size: 0px;
}

#design div {
  display: inline-block;
  max-width: 280px;
  text-align: center;
}

#design div p {
  font-size: 15px;
  text-transform: none;
  margin-top: 15px;
  margin-bottom: 4.75px;
}

#design div img {
  width: 100%;
}

#design-kuoni-elsewhere {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

#design-the-communication-butler {
  border-bottom: 1px solid whitesmoke;
}

#design-kuoni-annabelle {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

#design-helvetic-tours {
  border-top: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

@media all and (max-width:1199px) {
  #design-the-communication-butler {
    border-right: 1px solid whitesmoke;
  }
  #design-helvetic-tours {
    border-right: 1px solid whitesmoke;
    border-left: none;
  }
}

@media all and (max-width:991px) {
  #design-helvetic-tours {
    border-right: none;
    border-left: 1px solid whitesmoke;
  }
}

@media all and (max-width:589px) {
  #design-kuoni-elsewhere {
    border-right: 1px solid whitesmoke;
  }
  #design-the-communication-butler {
    border-left: 1px solid whitesmoke;
  }
  #design-kuoni-annabelle {
    border-right: 1px solid whitesmoke;
  }
  #design-helvetic-tours {
    border-right: 1px solid whitesmoke;
  }
}

#about > p:first-of-type {
  clear: right;
}

@media all and (min-width:481px) {
  #about > p:first-of-type {
    clear: none;
  }
}

#about-portrait {
  position: relative;
  float: right;
  top: -84px;
  margin-bottom: -64px;
  margin-left: 20px;
}

#contact {
  margin-bottom: 50vh;
}
