img#img-logo-graphic-and-layout-to-go {
  display: block;
  float: right;
  width: 150px;
}

img#img-logo {
  width: 192px;
}

@media all and (min-width:480px) {
  main nav li {
    display: inline-block;
    width: 90px;
  }
  img#img-logo-graphic-and-layout-to-go {
    width: 150px;
  }
}

@media all and (min-width:768px) {
  main nav li {
    width: 150px;
  }
  img#img-logo-graphic-and-layout-to-go {
    width: 200px;
  }
  img#img-logo {
    width: 256px;
  }
}

@media all and (min-width:992px) {
  main nav li {
    width: 150px;
  }
}


/*services*/


#services {
  margin-top: 24px;
  margin-bottom: 24px;
}

@media all and (min-width:481px) {
  #services {
    margin-bottom: 48px;
  }
}

@media all and (min-width:768px) {
  #services {
    margin-bottom: 138px;
  }
}


/*services-sections*/


@media all and (min-width:481px) {
  #services section {
    display: inline-block;
    width: 32%;
  }
}

#services section h3 {
  margin-bottom: 10px;
}

#services section span {
  display: block;
}


/*design*/


#design > div {
  font-size: 0px;
}

#design > div > div {
  display: inline-block;
  max-width: 280px;
  text-align: center;
}

#design > div > div img {
  width: 100%;
}

#design > div > div > a.portfolio-item {
  display: block;
  width: fit-content;
  position: relative;
  padding-top: 20px;
}

#design > div > div > a.portfolio-item:before {
  content: attr(title);
  position: relative;
  top: -5px;
  font-size: 15px;
}

#design-kuoni-elsewhere {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

#design-the-communication-butler {
  border-bottom: 1px solid whitesmoke;
}

#design-kuoni-annabelle {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

#design-helvetic-tours {
  border-top: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

@media all and (max-width:1199px) {
  #design-the-communication-butler {
    border-right: 1px solid whitesmoke;
  }
  #design-helvetic-tours {
    border-right: 1px solid whitesmoke;
    border-left: none;
  }
}

@media all and (max-width:991px) {
  #design-helvetic-tours {
    border-right: none;
    border-left: 1px solid whitesmoke;
  }
}

@media all and (max-width:589px) {
  #design-kuoni-elsewhere {
    border-right: 1px solid whitesmoke;
  }
  #design-the-communication-butler {
    border-left: 1px solid whitesmoke;
  }
  #design-kuoni-annabelle {
    border-right: 1px solid whitesmoke;
  }
  #design-helvetic-tours {
    border-right: 1px solid whitesmoke;
  }
}


/*about*/


#about > p:first-of-type {
  clear: right;
}

@media all and (min-width:481px) {
  #about > p:first-of-type {
    clear: none;
  }
}

img#img-about-portrait {
  border-radius: 50%;
  float: right;
  height: 192px;
  margin-bottom: -64px;
  margin-left: 20px;
  position: relative;
  top: -84px;
  width: 192px;
}


/*contact*/


#contact {
  margin-bottom: 50vh;
}
