main > section > section:not(:last-of-type) {
  margin-bottom: 144px;
}

main section img, main section p, main section dl {
  width: 100%;
  max-width: 280px;
}

main section dl {
  width: 280px;
}

main section dd {
  width: 200px;
}

main section img.layout-white {
  border: 1px solid whitesmoke;
}

main section p {
  line-height: 19px;
}

main section a + p, main section a + dl {
  margin-top: 60px;
}

main section p + a {
  margin-top: 10px;
}

a.portofolio-item {
  display: inline-block;
  width: fit-content;
  position: relative;
  padding-bottom: 26px;
  margin-bottom: 40px;
}

a.portofolio-item:after {
  content: attr(title);
  position: absolute;
  bottom: 0px;
  font-size: 12px;
}

a.portofolio-item:hover:after, a.portofolio-item:focus:after {
  text-decoration: underline;
}
