main > section > section:not(:last-of-type) {
  margin-bottom: 144px;
}

main section img {
  width: 100%;
  max-width: 280px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

main section img:hover {
  opacity: 0.4;
}

main section img.layout-white {
  border: 1px solid whitesmoke;
}

main section p {
  line-height: 19px;
}

main section a + p, main section a + dl {
  margin-top: 60px;
}

main section p + a {
  margin-top: 10px;
}

a.portfolio-item {
  display: inline-block;
  width: fit-content;
  position: relative;
  padding-bottom: 26px;
  margin-bottom: 40px;
}

a.portfolio-item:after {
  display: block;
  content: attr(title);
  position: absolute;
  bottom: 0px;
  font-size: 12px;
}

a.portfolio-item:hover:after, a.portfolio-item:focus:after {
  text-decoration: underline;
}
