<!DOCTYPE html>
<html dir="ltr" lang="{{ page.lang }}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="{% for tag in page.tags %}{{ tag }} {% endfor %}" />
  <meta name="description" content="{{ page.title }}" />
  {% if page.root == "" %}
  <link rel="alternate" href="http://vanpak.ch/en/{{ page.path }}" hreflang="en" />
  {% endif %}{% if page.root == "en/" %}
  <link rel="alternate" href="http://vanpak.ch/{{ page.path }}" hreflang="de" />
  {% endif %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
  <link rel="stylesheet" href="/css/default.css" /> {% for css in page.css %}
  <link rel="stylesheet" href="/css/{{css}}.css" /> {% endfor %}
  <!--<link rel="stylesheet" href="/css/pesticide.min.css" />
  <link rel="stylesheet" href="/css/outline.css" />-->
  <!--<link rel="stylesheet" href="/css/diagnostic.css" />-->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333333">
  <meta name="apple-mobile-web-app-title" content="vanpak">
  <meta name="application-name" content="vanpak">
  <meta name="theme-color" content="#ffffff">
  <title>{{ page.head-title }}</title>
</head>

<body>
  <header>
    <div class="container">
      <h1>{{ page.title}}</h1>
      <nav>
        <h2>Site navigation</h2>
        <ul>
          {% if page.path == "" %}
          <li class="no-op">
            <a href="/{{page.root}}" title="Return to the home page">Home</a>
          </li>
          {% else %}
          <li>
            <a href="/{{page.root}}" title="Return to the home page">Home</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <nav>
        <h2>Language navigation</h2>
        <ul>
          {% if page.root == "" %}
          <li class="selected">
            <a class="lang" href="/{{ page.path }}" title="Deutsch">de</a>
          </li>
          <li>
            <a class="lang" href="/en/{{ page.path }}" title="English">en</a>
          </li>
          {% endif %}{% if page.root == "en/" %}
          <li>
            <a class="lang" href="/{{ page.path }}" title="Deutsch">de</a>
          </li>
          <li class="selected">
            <a class="lang" href="/en/{{ page.path }}" title="English">en</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  <main>
{{ content }}  </main>
  <footer>
    <div class="container">
      <a href="#" title="Go to the top of this page">Go to top</a>
      <p>Copyright (c) 2016 Vanja Pakaski. All rights reserved.</p>
    <div>
  </footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87114475-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
